{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheryians Coding School</title>
    <link rel="icon" href="../static/image/image6.webp" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> 
  
    <link rel="stylesheet" href="{% static 'course.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="https://ik.imagekit.io/sheryians/Sheryians_logo_EzwgcppnD" alt="Logo" height="40">
            <span class="ml-2 font-weight-bold">Sheryians Coding School</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>03
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="{% url 'myapp:app' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'myapp:courses' %}">Courses</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'myapp:bootcamp' %}">Bootcamp(Kodr)</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'myapp:requestcall' %}">Request Callback</a></li>
                <li class="nav-item">
                    <a href="{% url 'myapp:signin' %}" class="btn btn-success btn-sm ml-3">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
    <span id="heading_course">We're not a <mark id="mark_course">course <br><span id="heading_secondline">factory. </span></mark></span>
    <span id="heading_we_focus">We foucs on courses that really help.</span>
<span id="courses_do_Work">Courses which do work 🡫</span>
<div id="main">
    <a href="https://sheryians.com/courses/courses-details/Three.js%20Domination">
        <div class="images_division" id="image_division1">
            <img class="course_images" src="../static/image/image1.webp" alt="image1">
            <div class="course_names_division">
                <h2 class="course_names_headings1">Three.js Domination</h2>
                <p class="course_names_languages">HINDI</p>
            </div>
            <div class="course_price_divsion">
                <mark id="mark_limited">Black Friday Sale</mark>
                <h1 id="price">₹2499</h1><del id="price_dupli"><h1 id="dupli">₹3500</h1></del>
                <button id="Off_button">29% OFF</button>
                <button id="view_details_button">View Details</button>
            </div>
        </div>
    </a>
    <a href="https://sheryians.com/courses/courses-details/Java%20&%20DSA%20Domination">
        <div class="images_division" id="image_division1">
            <img class="course_images" src="../static/image/image2.webp" alt="">
            <div class="course_names_division">
                <h2 class="course_names_headings1">Java & DSA Domination</h2>
                <p class="course_names_languages">HINGLISH</p>
            </div>
            <div class="course_price_divsion">
                <mark id="mark_limited">Limited Time Discount</mark>
                <h1 id="price">₹4999</h1><del id="price_dupli"><h1 id="dupli">₹9999</h1></del>
                <button id="Off_button">50% OFF</button>
                <button id="view_details_button">View Details</button>
            </div>
        </div>
    </a>
    <a href="https://sheryians.com/courses/courses-details/Back-End%20Domination:%20Create%20Efficient%20Back-End.">
        <div class="images_division" id="image_division2">
            <img class="course_images" src="../static/image/image3.webp" alt="">
            <div class="course_names_division">
                <h2 class="course_names_headings1">Back-End Domination:Create <h2 class="course_names_headings2" >Efficeint Back-End</h2></h2>
                <p class="course_names_languages">HINDI</p>
            </div>
            <div class="course_price_divsion">
                <mark id="mark_limited">Limited Time Discount</mark>
                <h1 id="price">₹5999</h1><del id="price_dupli"><h1 id="dupli">₹11999</h1></del>
                <button id="Off_button">50% OFF</button>
                <button id="view_details_button">View Details</button>
            </div>
        </div>
    </a>
    <a href="https://sheryians.com/courses/courses-details/Front-End%20Domination:%20Create%20Anything%20with%20Code">
        <div class="images_division" id="image_division1">
            <img class="course_images" src="../static/image/image4.webp" alt="">
            <div class="course_names_division">
                <h2 class="course_names_headings1">Front-End Domination:Create <h2 class="course_names_headings2" >Anything with Code </h2></h2>
                <p class="course_names_languages">HINDI</p>
            </div>
            <div class="course_price_divsion">
                <mark id="mark_limited">Limited Time Discount</mark>
                <h1 id="price">₹4999</h1><del id="price_dupli"><h1 id="dupli">₹9999</h1></del>
                <button id="Off_button">50% OFF</button>
                <button id="view_details_button">View Details</button>
            </div>
        </div>
    </a>
    <a href="https://sheryians.com/courses/courses-details/Aptitude%20&%20Reasoning%20for%20Campus%20Placements">
        <div class="images_division" id="image_division1">
            <img class="course_images" src="../static/image/image5.webp" alt="image3">
            <div class="course_names_division">
                <h2 class="course_names_headings1">Aptitude & Reasoning for Campus<h2 class="course_names_headings2" >Placements</h2></h2>
                <p class="course_names_languages">HINGLISH</p>
            </div>
            <div class="course_price_divsion">
                <mark id="mark_limited">Black Friday Sale</mark>
                <h1 id="price">₹999</h1><del id="price_dupli"><h1 id="dupli">₹1500</h1></del>
                <button id="Off_button">33% OFF</button>
                <button id="view_details_button">View Details</button>
            </div>
        </div>
    </a>
</div>
</body>
</html>